.filter-select {
    position: absolute;
    margin-top: 1rem;
    left: 200px;
    border: none;
    font-size: 1rem;
    width: 2.3rem;
    font-family: OpenSans-Regular;
}

.filter-select option{
    text-align: left;
    font-size: 1rem;
}
