@import './email-list.css';
@import './email-filter.css';
@import './email-details.css';
@import './email-folder-list.css';
@import './email-compose.css';

.email-app {
  display: flex;
  height: 100vh !important;
}

.open-mobile-menu {
  position: absolute;
  bottom: 40px;
  background-color: unset;
  margin-inline-start: 1rem;
  border-radius: 30px;
  display: none;
}

.open-mobile-menu:hover {
  padding-inline-start: 1rem;
  transition: all 0.5s;
}

/* Mobile */

@media (max-width: 700px) {
  .email-folder-list {
    z-index: 50;
    align-items: left;
    position: fixed;
    top: 0;
    left: -100%;
    /* transform: translate(-50%, -50%);  */
    height: 100vh;
    width: 67vw;
  }

  .email-folder-list button {
    z-index: 10;
    position: fixed;
    right: 30px;
    bottom: 30px;
    border-radius: 100px;
    padding: 1rem 0;
    padding-left: 1.4rem;
    width: fit-content;
  }
  .email-folder-list button span:not(:first-child) {
    display: none;
  }

  .open-mobile-menu {
    display: block !important;
  }

  .on-mobile-menu-open {
    display: none;
    background-color: rgba(134, 130, 130, 0.384);
    position: absolute;
    top: 0;
    z-index: 40;
    width: 100vw;
    height: 100vh;
    transition: all 0.5s;
  }
  .email-details {
    padding-top: 0.5rem;
    width: 100vw;
    height: 90vh;
  }
  .email-details h1 {
    padding: 0.5rem;
  }

  .email-compose {
    width: 100%;
    height: 100%;
    right: 0;
  }

  .filter-select {
    left: 20px;
  }
}
